<!doctype html>
<html>
<head>

img
{
 display: block;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}
body 
{ 
  background-image: url('Picture1.png');
  background-attachment: fixed;
  background-size: 50% 50%;
}
li
{
 color: green;
 font-family: arial;
 font-size: 30px;
 text-align: center;
}
h1
{
 display: center;
 padding: 5px;
 color: green;
 font-family: cursive;
 text-align: center;
 font-size: 60px; 
}
ul
{
display: center;
padding: 10px;
font-size: 50px;
}
</html>
</head>